html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

ul, p, h1, h2, h3, h4, h5, hr, p, blockquote, /* structural
elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素
*/
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, button, input, select, textarea {
  font: 1rem "Microsoft Yahei",
  STHeiTi, sans-serif;
  color: #333333;
  background: #FDFDFD;
}

a {
  text-decoration: none;
}
a:visited, a:link, a:active {
  color: inherit;
}
a:hover {
  color: #5586ED;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */

img, input {
  border: 0 none;
}

li{
  list-style: none;
}
/*@media screen and (max-width: 1550px) {*/
/*html,*/
/*body {*/
/*font-size: .85rem;*/
/*}*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
/*html,*/
/*body {*/
/*font-size: .70rem;*/
/*}*/
/*}*/
