<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.browser.dao.mapper.BlScanInfoMapper">
    <resultMap id="BaseResultMap" type="com.browser.dao.entity.BlScanInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="block_num" property="blockNum" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, block_num
    </sql>
    <select id="selectFirst" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bl_scan_info
        order by id asc limit 1
    </select>

    <insert id="insert" parameterType="com.browser.dao.entity.BlScanInfo">
    insert into bl_scan_info (block_num)
    values (#{blockNum,jdbcType=BIGINT})
  </insert>
    <update id="updateBlockNumByPrimaryKey" parameterType="com.browser.dao.entity.BlScanInfo">
        update bl_scan_info set block_num = #{blockNum,jdbcType=BIGINT}
            where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>